.projects-filter
    display: inline-block
    margin: 0 0.5em 1em 0

.project-showcase
    @extend .showcase
    img.project-logo
        height: 3.5em

.project-showcase-evlgaming
    background-color: #EEE
    color: #000
    .label
        background-color: rgba(0, 0, 0, 0.05)

.project-showcase-saloon
    background-color: #1D1D1D
    color: #EEE
    .label
        background-color: rgba(255, 255, 255, 0.05)

.project-showcase-sanmargar
    background-color: #F6F6F6
    color: #000
    .label
        background-color: rgba(0, 0, 0, 0.05)

.project-showcase-tryhard
    background-color: #222
    color: #EEE
    .label
        background-color: rgba(255, 255, 255, 0.05)

.project-showcase-etf2l
    background-color: #1F2938
    color: #EEE
    a
        color: #EEE
    .label
        background-color: rgba(255, 255, 255, 0.05)

.project-showcase-tf2center
    background-color: #EBE6D6
    color: #000
    .label
        background-color: rgba(0, 0, 0, 0.05)