html, body
    margin: 0
    padding: 0

body
    background-color: #222
    color: #DDD
    font-family: $helvetica

a
    color: #E0E386
    text-decoration: none

h1, h2, h3, h4, h5, h6
    color: #E7ED78
    font-family: 'Montserrat'
    font-weight: bold
    margin: 0
    padding: 0.2em 0

h1
    font-size: 5em

main
    @include outer-container(90%);
    min-height: 100%
    min-height: 100vh
    padding-bottom: 10em

footer
    text-align: center
    font-size: 2em
    margin-top: -2.5em
    a
        color: #EEE
        padding: .5em