.projects-filter
    display: inline-block
    margin: 0 0.5em 1em 0

.project-showcase
    border-radius: 0.25em
    margin: 0 0 1em 0
    padding: 1em

    a.normal
        color: inherit
    span.label
        margin-right: 0.5em
    img.project-logo
        height: 3.5em

    &.hide
        display: none

.project-showcase-evlgaming
    background-color: #EEE
    p
        color: #000
    .label
        background-color: rgba(0, 0, 0, 0.05)

.project-showcase-saloon
    background-color: #1D1D1D
    p
        color: #EEE
    .label
        background-color: rgba(255, 255, 255, 0.05)

.project-showcase-sanmargar
    background-color: #F6F6F6
    p
        color: #000
    .label
        background-color: rgba(0, 0, 0, 0.05)

.project-showcase-tryhard
    background-color: #222
    p
        color: #EEE
    .label
        background-color: rgba(255, 255, 255, 0.05)

.project-showcase-etf2l
    background-color: #1F2938
    a
        color: #EEE
    p
        color: #EEE
    .label
        background-color: rgba(255, 255, 255, 0.05)

.project-showcase-tf2center
    background-color: #EBE6D6
    p
        color: #000
    .label
        background-color: rgba(0, 0, 0, 0.05)