section.sidebar
    @include span-columns(2)
    float: right
    padding-top: 1em
    img
        border-radius: 0.25em
        height: auto
        max-width: 100%

    ul.sidebar-list
        color: #333
        list-style-type: none
        margin: 0
        padding: 0 0 1em 0
        li
            margin: 0
            padding: 0.2em 0
            a
                font-weight: inherit
                color: inherit