<section class="experience">
    <div class="projects-filter">
        <i class="fa fa-code"></i>
        <select [ngModel]="active_language"
                (change)="apply_filter($event, $event.target.value, '')">
            <option value="">All</option>
            <option *ngFor="#language of languages"
                    [value]=language>
                {{language}}
            </option>
        </select>
    </div>
    <div class="projects-filter">
        <i class="fa fa-cogs"></i>
        <select [ngModel]="active_framework"
                (change)="applyFilter($event, '', $event.target.value)">
            <option value="">All</option>
            <option *ngFor="#framework of frameworks"
                    [value]=framework>
                {{framework}}
            </option>
        </select>
    </div>
    
    <div *ngFor="#project of projects"
         class="project-showcase project-showcase-{{project.codename}}"
         [class.hide]="!checkFilter(project)">
        <p>
            <img alt="{{project.name}} logo"
                 class="project-logo"
                 src="/assets/img/{{project.codename}}-logo.jpg">
        </p>
        <div [innerHTML]=project.description></div>
        <p>
            <i class="fa fa-code"></i>
            <a *ngFor="#language of project.languages"
               (click)="applyFilter($event, language, '')"
               class="label"
               href>
                {{language}}
            </a>
        </p>
        <p>
            <i class="fa fa-cogs"></i>
            <a *ngFor="#framework of project.frameworks"
               (click)="applyFilter($event, '', framework)"
               class="label"
               href>
                {{framework}}
            </a>
        </p>
    </div>
</section>