<section class="experience">
    <div *ngFor="#project of projects" class="project-showcase project-showcase-{{project.codename}}">
        <p><img alt="{{project.name}} logo" class="project-logo" src="/assets/img/{{project.codename}}-logo.jpg"></p>
        <div [innerHTML]=project.description></div>
        <p><i class="fa fa-code"></i> <span *ngFor="#language of project.languages" class="label">{{language}}</span></p>
        <p><i class="fa fa-cogs"></i>  <span *ngFor="#framework of project.frameworks" class="label">{{framework}}</span></p>
    </div>
</section>