<section class="experience">
    <div class="projects-filter">
        <i class="fa fa-code"></i>
        <select [ngModel]="active_language"
                (change)="applyFilter($event, $event.target.value, '')">
            <option value="">All</option>
            <option *ngFor="#language of languages"
                    [value]=language>
                {{language}}
            </option>
        </select>
    </div>
    <div class="projects-filter">
        <i class="fa fa-cogs"></i>
        <select [ngModel]="active_technology"
                (change)="applyFilter($event, '', $event.target.value)">
            <option value="">All</option>
            <option *ngFor="#technology of stack"
                    [value]=technology>
                {{technology}}
            </option>
        </select>
    </div>

    <div *ngFor="#project of projects"
         class="project-showcase project-showcase-{{project.codename}}"
         [class.zoom-out]="!checkFilter(project)"
         [class.zoom-in]="checkFilter(project)">
        <p>
            <img alt="{{project.name}} logo"
                 class="project-logo"
                 src="/assets/img/{{project.codename}}-logo.jpg">
        </p>
        <div [innerHTML]=project.description></div>
        <p>
            <a (click)="applyFilter($event, '', '')"
               class="normal"
               href>
               <i class="fa fa-code"></i>
            </a>
            <a *ngFor="#language of project.languages"
               (click)="applyFilter($event, language, '')"
               class="label"
               href>
                {{language}}
            </a>
        </p>
        <p>
            <a (click)="applyFilter($event, '', '')"
               class="normal"
               href>
               <i class="fa fa-cogs"></i>
            </a>
            <a *ngFor="#technology of project.stack"
               (click)="applyFilter($event, '', technology)"
               class="label"
               href>
                {{technology}}
            </a>
        </p>
    </div>
</section>