<main>
    <section class="cover">
        <div class="container">
            <h1 class="page-logo">{{title}}</h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p>My name is Jakub <a href="#" id="name-audio-play">(<i class="fa fa-volume-up"></i> i̯akub)</a> and I am young web professional based in Warsaw, Poland with a passion for creating beautiful accessible frontends and efficient backends for the web that your company can safely rely on.</p>
            <p>Despite my young age I have a lot of experience regarding both programming and project management backed by my previous projects. I am proficient with Python, PHP, JavaScript (CoffeScript, TypeScript), HTML and CSS (Sass) and intermediate with C# and Java and I love to take on new things, some of which you can find on my LinkedIn profile.</p>
            <p>Also feel more than welcome to message me on any of the social media below or send an email to <a href="mailto:jakub@chronow.ski">jakub@chronow.ski</a> if you wish to get in touch with me.</p>
        </div>
    </section>
</main>